<odoo>
	<data>
		<menuitem id="vit_project_billplan_top_menu" name="Vit project billplan" sequence="20" web_icon="vit_project_billplan,static/description/icon.png" />
		<menuitem id="vit_project_billplan_sub_menu" name="Vit project billplan" sequence="40" parent="vit_project_billplan_top_menu" web_icon="vit_project_billplan,static/description/icon.png" />
	</data>
</odoo>